.root {
  font-family: 'Google Sans', Arial, sans-serif;
  font-weight: 500;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;

  &.radius-sm {
    border-radius: var(--radius-sm);
  }

  &.radius-md {
    border-radius: var(--radius-md);
  }

  &.radius-lg {
    border-radius: var(--radius-lg);
  }

  &.size-sm {
    font-size: 14px;

    padding: 13px 20px;
    line-height: 14px;

    svg {
      height: 17px;
      height: 17px;
    }

    &.square {
      padding: 7px;
    }
  }

  &.size-md {
    font-size: 16px;

    &.square {
      padding: 15px;
    }
  }

  &.outline {
    background: var(--color-surface);
    border: 2px solid var(--color-border);
    transition: background var(--transition-duration);
    color: var(--color-text-primary);

    &:hover {
      background: color-mix(in srgb, var(--color-surface) 20%, transparent);
    }
  }
}
