.root {
  position: sticky;
  padding: 25px 0;
  height: 96px;
  z-index: 99999;
  background: var(--color-background);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .items {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }

  .sidebar {
    padding: 12px 30px 30px;
    background: var(--color-background);
    border-top: 2px solid var(--color-border);
    width: 320px;

    .sidebarWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .sidebarNav {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .sidebarItem {
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
          margin-bottom: 3px;
        }

        &.active {

          p {
            color: var(--color-primary);
          }

          svg {
            stroke: var(--color-primary);
          }
        }
      }
    }
  }

  .content {
    padding: 10px 0;
  }

  .dropdownWrapper {
    display: flex;
    flex-direction: column;
  }

  .childrenWrapper {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 16px;
    border-radius: var(--radius-sm);
    border: 2px solid transparent;
    transition: all var(--transition-duration);

    &:hover {
      color: var(--color-primary);
    }

    &.active {
      color: var(--color-primary);
    }

    svg {
      margin-bottom: 3px;
      height: 17px;
      width: 17px;
    }
  }

  .menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .root {
    padding: 15px 0;
    height: 65px;

    .items {
      display: none;
    }

    .menu {
      display: block;
    }
  }
}
