@font-face {
  font-family: 'LoremGoogleSans';
  src:
    url('../fonts/GoogleSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'LoremGoogleSans';
  src:
    url('../fonts/GoogleSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
